:root {
    --main-font: 'Montserrat', sans-serif;
    --decorative-font: 'Velour', serif;
    --gold-color: #f9e49d;
    --background-color: #fff;
    --text-color: #333;
  }
  body {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    background-color: #f8edde;
  }
  